div(id="response_item_tmpl", style="display: none")
  a(class="list-group-item response-list", id="${response_id}")
    h5.list-group-item-heading ${body}
    p.list-group-item-text.text-right.small ${date}